<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="../styles/financePage.css" />
    <title>Finance</title>
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/home">
          <img src="/views/cloud.png" />
        </a>

        <a
          role="button"
          class="navbar-burger burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/home"> Home </a>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <button id="logoutBtn" class="button is-primary">
                <strong>Logout</strong>
              </button>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div id="finance-form-container">
      <form id="finance-form">
        <div class="finance-form">
          <div class="field">
            <label class="label">First Name</label>
            <div class="control">
              <input
                id="first_name"
                name="first_name"
                class="input"
                type="text"
                placeholder="e.g Alex"
              />
            </div>
          </div>
          <div class="field">
            <label class="label">Last Name</label>
            <div class="control">
              <input
                id="last_name"
                name="last_name"
                class="input"
                type="text"
                placeholder="e.g Smith"
              />
            </div>
          </div>

          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input
                id="email"
                name="email"
                class="input"
                type="email"
                placeholder="e.g. alexsmith@gmail.com"
              />
            </div>
          </div>

          <div class="field">
            <label class="label">Expenses</label>
            <div class="control">
              <input
                id="expenses"
                name="expenses"
                class="input"
                type="text"
                placeholder="Text input"
              />
            </div>
            <p class="help">This is a help text</p>
          </div>
          <div class="field">
            <label class="label">Income</label>
            <div class="control">
              <input
                id="income"
                name="income"
                class="input"
                type="text"
                placeholder="Text input"
              />
            </div>
            <p class="help">This is a help text</p>
          </div>
          <div class="field">
            <label class="label">Budget</label>
            <div class="control">
              <input
                id="budget"
                name="budget"
                class="input"
                type="text"
                placeholder="Text input"
              />
            </div>
            <p class="help">This is a help text</p>
          </div>
          <div class="field">
            <label class="label">Savings</label>
            <div class="control">
              <input
                id="savings"
                name="savings"
                class="input"
                type="text"
                placeholder="Text input"
              />
            </div>
            <p class="help">This is a help text</p>
          </div>
          <input
            id="updateButton"
            type="submit"
            value="Update"
            class="button is-success"
          />
        </div>
      </form>
    </div>
    <script src="../src/financePage.js"></script>
  </body>
</html>
