<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="index.js" defer></script>
    <link id="styleSheet" rel="stylesheet" href="index.css">
    
</head>
<body>
    <header>
        <img href="" src="cloud.png">
    </header>
    <div id="loginBox">
        <form>

            <section id="usernameBox">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </section>

            <section id="passwordBox">
                <label for="password"> Password</label>
                <input type="password" id="password" name="password" required>
            </section>
            <section id="submitBox">
                <input type="submit" id="submitButton" value="Log In">
            </section>

        </form>

    </div>
    <div id="createAccountBox">
        <a href="createAccount.html" id="createAccount">Create Account</a>
    </div>

</body>
</html>