<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="home.js" defer></script>
    <link id="styleSheet" rel="stylesheet" href="home.css">
    <link rel="stylesheet" type="text/css" href="slick/slick.css" />
    <!-- // Add the new slick-theme.css if you want the default styling
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css" /> -->

</head>
<body>
    <header>
        <img href="" id="headerLogo" src="../cloud.png">
        <div id="headerControls">
            <a>
                <h2>Account</h2>
            </a>
            <a>
                <h2>Log Out</h2>
            </a>
        </div>
    </header>

    <section>
        <div id="dreamCarBox">
            <h2>Dream Car</h2>
            <div id="dreamCarRow">
                <img src="lambo.jpg">
                <div>
                    <div id="nameModel">
                        <h4>Name</h4>
                        <h4>model</h4>
                    </div>
                    <bar></bar>
                    <div>
                        <div>
                            <h5></h5>
                            <h5></h5>
                        </div>
                        <h4>Ratio</h4>
                    </div>

                </div>
            </div>

        </div>


        <div class="your-class">
            <div>your content</div>
            <div>your content</div>
            <div>your content</div>
        </div>
        <div id="budgetCarBox">
            <h2>Budget Car</h2>
            <div id="budgetCarRow">
                <div>
                    <img src="lambo.jpg">
                    <div>
                        <div id="nameModel">
                            <h4>Name</h4>
                            <h4>Model</h4>
                        </div>
                        <bar></bar>
                        <div>
                            <div>
                                <h5></h5>
                                <h5></h5>
                            </div>
                            <h4>Ratio</h4>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </section>



</body>
</html>