<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="financePage.css">
    <script src="financePage.js" defer></script>
    <title>Finance</title>
</head>
<body>
    <h1>Welcome, Please fill out the form below.</h1>
    <button><a href="http://127.0.0.1:5500/CarGrail/views/html/homePage.html">Sign Up</a></button>
            
</body>
</html>