<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="homepage.css">
    <script src="homepage.js" defer></script>
    <title>Home</title>
</head>
<body>
    <h1>Congratulations You've Made It To The Homepage</h1>
    <button><a href="http://127.0.0.1:5500/CarGrail/views/html/summaryPage.html">Summary</a></button>
</body>
</html>