<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/loginPage.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
	<title>Login</title>
</head>

<body>
	<div class="sign-up-form">
		<div class="field">
			<label class="label">First Name</label>
			<div class="control">
				<input class="input" type="text" placeholder="e.g Alex">
			</div>
		</div>
		<div class="field">
			<label class="label">Last Name</label>
			<div class="control">
				<input class="input" type="text" placeholder="e.g Smith">
			</div>
		</div>

		<div class="field">
			<label class="label">Email</label>
			<div class="control">
				<input class="input" type="email" placeholder="e.g. alexsmith@gmail.com">
			</div>
		</div>

		<div class="field">
			<label class="label">Expenses</label>
			<div class="control">
				<input class="input" type="text" placeholder="Text input">
			</div>
			<p class="help">This is a help text</p>
		</div>
		<div class="field">
			<label class="label">Income</label>
			<div class="control">
				<input class="input" type="text" placeholder="Text input">
			</div>
			<p class="help">This is a help text</p>
		</div>
		<div class="field">
			<label class="label">Budget</label>
			<div class="control">
				<input class="input" type="text" placeholder="Text input">
			</div>
			<p class="help">This is a help text</p>
		</div>
		<div class="field">
			<label class="label">Savings</label>
			<div class="control">
				<input class="input" type="text" placeholder="Text input">
			</div>
			<p class="help">This is a help text</p>
		</div>
		<div class="field">
			<label class="label">Password</label>
			<div class="control">
				<input class="input" type="password" placeholder="Text input">
			</div>
			<p class="help">This is a help text</p>
		</div>
	</div>

	<script src="./loginPage.js"></script>
</body>
</html>