.finance-form {
    width: 50%;
    border: 5px solid black;
    padding: 20px;
    margin: 0 auto;
    margin-top: 15vh;
}

/* * {
    padding: 0px;
    margin: 0px;
} */

body {
    background-color: #89CFF0;
    /* height: 100%;
    width: 100%; 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; */
}

/* header {
    display: flex;
    width: 100%;
    height: 100%;
    /* background-color: red; */
    /* align-items: center;
    justify-content: center;
    flex-direction: row; */
    /* padding-top: px; */
/* } */ 

/* img {
    width: 18%;
    height: 18%;
} */

/* form {
        position: relative;
        width: 62%;
        height: 43vh;
        margin-top: 4vh;
        background-color: white;
        border-radius: 12px;
        padding: 6vh 8vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section {
        display: flex;
        flex-direction: row;
        /* background-color: blue; */
width: 56%;
height: 100%;
margin-top: 20px;
align-items: center;
justify-content: space-between;
}

input {
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    /* opacity: 75%; */
    width: 60%;
    height: 30px;
    /* border: none; */
    font-size: medium;

}

.nextBox {
    display: flex;
    align-self: flex-end;
    align-items: flex-end;
    justify-content: center;
    width: 40%;
    /* height: 35px; */
}

.nextButton {
    background-color: cornflowerblue;
    width: 100%;
    height: 35px;
    border: none;
    color: white;
}

.nextButton:hover {
    background-color: steelblue;
    transition: background-color .3s;
}

.backBox {
    display: flex;
    /* align-self: ; */
    align-items: flex-end;
    justify-content: center;
    width: 40% !important;
    /* background-color: red; */
}

.backButton {
    width: 100%;
    height: 35px;
    border: none;
    background-color: #d1d1d1;
    color: white;
}

.backButton:hover {
    background-color: darkgray;

}

#finishBox {
    display: flex;
    align-self: flex-end;
    align-items: flex-end;
    /* justify-content: center; */
    width: 40% !important;
    /* background-color: black; */
}

#finishButton {
    width: 100%;
    height: 35px;
    border: none;
    background-color: green;
    color: white;
}

#dreamCarForm section {
    display: flex;
    flex-direction: row;
    width: 20%;
    height: 200px;
    /* background-color: red; */
}

.navigation {
    display: flex;
    align-self: flex-end;
    align-items: flex-end;
    justify-content: space-between;
    width: 25%;
    /* height: 100px; */
    /* background-color: red; */
}

.createShoppingExpenseBox {
    display: flex;
    flex-direction: row;
    width: 40%;
}

.createShoppingExpenseBox input {
    width: 30%;
}

#idForm {
    display: flex;
    flex-direction: row;
}

.numberInput input {
    width: 30%;
}

#incomeForm .numberInput {
    width: 35%;
}

#incomeForm .numberInput input {
    width: 50%;
}

#accountInputForm .textInput {
    width: 45%;
}

*/